In [3]:
def sum_n(n):
    return n * (n+1) // 2

print(sum_n(10))

55

In [21]:
def sum_brutal_n(n):
    total = 0
    for i in range (1, n+1):
        total += i
    return total

print(sum_brutal_n(10))

55

TypeError: 'total' is an invalid keyword argument for this function

In [26]:
x = 3
y = 4
total = 0

print ("total =", x+y)

total = 7

In [27]:
print("df " + "dd")

df dd

In [28]:
def find_max(a):
    maxi = a[0]
    for i in a:
        if maxi < i :
            maxi = i
    
    return maxi

b=[1,2,3,45,6,7,23]
find_max(b)

45

In [49]:
# n 명 사람이름 중에서 같은 이름을 찾아 집합으로 만들어 돌려주는 알고리즘 
# requirement
# 1 같은 이름 찾기
# 2 집합에 저장
# 3 (optional)print

def find_same(a):
    n=len(a)
    ppl=set()
    for i in range(n-1):
        for j in range(i+1,n):
            if a[j] == a[i]:
                ppl.add(a[i])  
    return ppl

def find_samename_dic(a):
    # Using dictionary : name - 출현횟수  
    name=dict()
    ppl = set()
    
    for i in range(len(a)):
        if a[i] in name:
            name[a[i]] += 1
        else:
            name[a[i]]=1
    for i in name:
        if name[i] > 1:
            ppl.add(i)

    return ppl
            
a = ["A","A","B","C","D","D","E","E","F"]

find_samename_dic(a)

{'A', 'D', 'E'}

In [34]:
list_sample = [3,4]

print (list_sample)

[3, 4]

In [46]:
a={1,2,3}
b={"x":1,"y":2,"z":3}

{'x': 1, 'y': 2, 'z': 3}